<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<a href="/order/orderInsert">添加页面</a>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr align="center">
        <th scope="col">编号</th>
        <th scope="col">订单编号</th>
        <th scope="col">下单时间</th>
        <th scope="col">订单总金额</th>
        <th scope="col">商品数量</th>
        <th scope="col">商品</th>
        <th scope="col">收货地址</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr align="center" th:each="p:${list}">
        <td th:text="${p.orderId}"></td>
        <td th:text="${p.orderNum}"></td>
        <td th:text="${p.orderTime}"></td>
        <td th:text="${p.orderPrice}"></td>
        <td th:text="${p.orderProductSum}"></td>
        <td th:text="${p.productId.productName}"></td>
        <td th:text="${p.addressId.addressName}"></td>
        <td>
            <a th:href="@{/order/findOne(orderId=${p.orderId})}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">修改</a>
            <a th:href="@{/order/delete(orderId=${p.orderId})}" class="btn btn-danger btn-sm active" onclose=confirm("确定要删除吗？") role="button" aria-pressed="true">删除</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>